.AEStyling {
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-background-color: #90EE90; /* Light Green */
    -fx-background-radius: 15px;
    -fx-padding: 10px 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 3);
    -fx-border-width: 0;
    -fx-cursor: hand;
}

/* Hover Effect */
.AEStyling:hover {
    -fx-background-color: #87CEFA; /* Light Blue */
}

/* Click Effect */
.AEStyling:pressed {
    -fx-background-color: #006400; /* Dark Green */
    -fx-effect: innershadow(gaussian, rgba(0, 100, 0, 0.5), 10, 0, 0, 0);
}
